// OTHERS

@mixin cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

@mixin greyscale($value) {
  -webkit-filter: grayscale($value);
  /* Chrome, Safari, Opera */
  filter: grayscale($value);
}

@mixin media($media-value) {
  @media (min-width: #{$media-value}px) {
    @content;
  }
}

@mixin media-max($media-value) {
  @media (max-width: #{$media-value}px) {
    @content;
  }
}




