* {
    outline: none;
    -webkit-font-smoothing: antialiased;
  }
  
*,
*:before,
*:after {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

html {
    font-family: $main-font;
    font-size: 7px;

    @media (min-width: 768px) {
        font-size: 8px;
    }

    @media (min-width: 1200px) {
        font-size: 10px;
    }

    line-height: normal;
    font-weight: 400;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    font-size: 1.9rem;

    @media (min-width: 768px) {
        font-size: 1.7rem;
    }

    @media (min-width: 1200px) {
        font-size: 1.6rem;
    }

    line-height: 24px;
    color: $main-text-color;
    background-color: $content_bg;
    font-family: $main-font;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $headings-font;
    color: $headings-color;
    margin-top: 0;
    line-height: 1.4;

    a {
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
    }

    @media(max-width: 768px) {
        line-height: 1.2;
    }
}

h1 {
    font-size: 5.4rem;
    margin-bottom: 30px;
    font-weight: 400;

    @media(max-width: 768px) {
        font-size: 4.8rem;
        margin-bottom: 25px;
    }
}

h2 {
    font-size: 4.8rem;
    margin-bottom: 25px;
    font-weight: 400;

    @media(max-width: 768px) {
        font-size: 3.8rem;
        margin-bottom: 20px;
    }
}

h3 {
    font-size: 4.2rem;
    margin-bottom: 20px;
    font-weight: 400;

    @media(max-width: 768px) {
        font-size: 3.8rem;
        margin-bottom: 15px;
    }
}

h4 {
    font-size: 3.4rem;
    margin-bottom: 20px;
    font-weight: 400;

    @media(max-width: 768px) {
        font-size: 2.8rem;
        margin-bottom: 15px;
    }
}

h5 {
    font-size: 2.8rem;
    margin-bottom: 15px;
    font-weight: 400;

    @media(max-width: 468px) {
        font-size: 2.4rem;
        margin-bottom: 10px;
        line-height: 32px;
    }
}

h6 {
    font-size: 2.2rem;
    margin-bottom: 15px;
    font-weight: 600;
    font-family: $headings-font;
}

p,
a,
span,
label,
li {
    font-family: $main-font;
    color: $main-text-color;
    margin: 0px;
    font-size: 1.9rem;

    @media (min-width: 768px) {
        font-size: 1.7rem;
    }

    @media (min-width: 1200px) {
        font-size: 1.6rem;
    }

    line-height: 1.5;
    font-weight: 400;

    p,
    a,
    span,
    label {
        font-size: 100%;
        margin: 0;
    }
}

ul {
    margin: 0;
    padding: 0;

    li {
        margin: 0;
        list-style-type: none;
    }
}

ul {
    li {
        position: relative;
    }
}

ol {
    padding-left: 15px;

    li {
        margin-bottom: 15px;
    }
}

a {
    text-decoration: none;
}

blockquote {
    border: 1px solid #e4e4e4;
    border-radius: 3px;
    padding: 10px;
    margin: 20px 0;
    font-family: $main-font;
    font-style: italic;
    line-height: 24px;
    font-size: 1.8rem;

    @include media(768) {
        padding: 15px;
        margin: 30px 0;
        font-size: 1.7rem;
    }

    @include media(992) {
        padding: 20px;
        margin: 40px 0;
        font-size: 1.6rem;
    }

    @include media(1200) {
        padding: 25px;
        margin: 50px 0;
        font-size: 1.5rem;
    }


    p {
        margin: 0 !important;
    }
}

strong {
    font-weight: 600;
}

i {
    font-style: italic;
}

::-webkit-input-placeholder {
    color: #a3a3a3;
    font-size: 2rem;
    font-weight: 300;

    @media (max-width: 768px) {
        font-size: 1.8rem;
    }
}

::-moz-placeholder {
    color: #a3a3a3;
    font-size: 2rem;
    font-weight: 300;

    @media (max-width: 768px) {
        font-size: 1.8rem;
    }
}

:-ms-input-placeholder {
    color: #a3a3a3;
    font-size: 2rem;
    font-weight: 300;

    @media (max-width: 768px) {
        font-size: 1.8rem;
    }
}

:-moz-placeholder {
    color: #a3a3a3;
    font-size: 2rem;
    font-weight: 300;

    @media (max-width: 768px) {
        font-size: 1.8rem;
    }
}