header {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;

    &.header--dark {
        background-color: $dark;

        &+.header-fixed {
            background-color: $dark;
        }
    }

    &.header--small {
        nav.nav-logo {
            margin: 15px 0;

            @include media(768) {
                justify-content: center;
                margin: 15px 0;
            }
    
            @include media(992) {
                margin: 15px 0;
            }
    
            @include media(1200) {
                margin: 15px 0;
            }

            a {
                svg {
                    height: 65px;

                    @include media(992) {
                        height: 65px;
                    }
                }
            }
        }

        &+.header-fixed {
            height: 100px;
        
            @include media(768) {
                height: 101px;
            }
        }
    }
    
    .header-wrapper {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        display: flex;
        flex-wrap: wrap;
     
        @include media(768) {
            max-width: 720px;
        }
    
        @include media(992) {
            max-width: 960px;
        }
    
        @include media(1170) {
            max-width: 1200px;
        }
    
        @include media(1380) {
            max-width: 1400px;
        }
    }

    nav.nav-left, nav.nav-right {
        display: flex;
        width: calc(100% / 3);

        ul {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                margin-right: 10px;
                
                @include media(1200) {
                    margin-right: 15px;
                }

                display: flex;
                align-items: center;

                &:last-child {
                    margin-right: 0;
                }
                
                @include media(1410) {
                    margin-right: 35px;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                a {
                    position: relative;
                    margin: 0;
                    color: $white;
                    font-family: $main-font;
                    text-transform: uppercase;
                    font-size: 1.7rem;

                    @include media(768){
                        font-size: 1.6rem;
                    }

                    @include media(1200){
                        font-size: 1.5rem;
                    }
                    
                    letter-spacing: 1px;
                    line-height: 1;
                   
                    &::after {
                        content: "";
                        position: absolute;
                        width: 0%;
                        left: 0;
                        bottom: -5px;
                        height: 3px;
                        background-color: $red;
                        opacity: 0;
                        visibility: hidden;
                        transition: ease-in-out 0.2s;
                    }

                    &:hover {
                        &::after {
                            width: 100%;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                &.menu-item-has-children {
                    position: relative;
                    margin-right: 15px;

                    @include media(1200) {
                        margin-right: 25px;
                    }

                    &::before {
                        content: "\f0dd";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        line-height: 1;
                        position: absolute;
                        right: 0;
                        top: 30%;
                        transform: translateY(-50%);
                        color: $white;
                        cursor: pointer;
                    }

                    a {
                        padding-right: 15px;

                        &::after {
                            display: none;
                        }
                    }

                    .sub-menu {
                        position: absolute;
                        display: block;
                        flex-direction: column;
                        justify-content: flex-start;
                        z-index: 9999;
                        top: 100%;
                        right: 20px;
                        min-width: 175px;
                        border-top: 15px solid transparent;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.2s;

                        &::before {
                            content: '';
                            display: block;
                            width: 0;
                            height: 0;
                            position: absolute;
                            right: 27px;
                            top: 0;
                            border-top: 10px solid transparent;
                            border-bottom: 10px solid transparent;
                            border-right: 10px solid $white;
                            margin-top: -15px;
                            transform: rotate(90deg);
                        }

                        li {
                            display: block;
                            margin-right: 0;
                            background-color: $white;
                            padding: 5px 25px;

                            &:last-child {
                                a {
                                    border-bottom: none;

                                    &::after {
                                        content: "";
                                        bottom: 4px;
                                    }
                                }
                            }

                            a {
                                position: relative;
                                display: block;
                                text-transform: capitalize;
                                margin: 0;
                                font-family: $main-font;
                                color: $black;
                                font-size: 1.5rem;
                                line-height: 44px;
                                border-bottom: 3px solid $white;

                                &::before {
                                    content: "\f061";
                                    display: block;
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    font-family: "Font Awesome 5 Free";
                                    font-weight: 900;
                                    font-size: 1.2rem;
                                    transition: all 0.4s;
                                }

                                &:hover {
                                    &::after {
                                        display: block;
                                        width: 100%;
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }

                                &::after {
                                    content: "";
                                    display: block;
                                    position: absolute;
                                    width: 0%;
                                    bottom: -1px;
                                    left: 0;
                                    height: 3px;
                                    background-color: $red;
                                    opacity: 0;
                                    visibility: hidden;
                                    -webkit-transition: ease-in-out 0.2s;
                                    transition: ease-in-out 0.2s;
                                }
                            }
                        }
                    }

                    &:hover {
                        .sub-menu {
                            visibility: visible;
                            opacity: 1;
                            right: -22px;
                        }
                    }

                }
            }
        }
    }

    nav.nav-left {
        display: none;

        @include media(768) {
            display: flex;
        }
    }

    nav.nav-right {
        display: flex;
        justify-content: flex-end;

        @include media(768) {
            justify-content: flex-start;
        }

        ul {
            display: none;

            @include media(768) {
                display: flex;
            }

            li {
                &.contact {
                    a {
                        border: 1px solid $white;
                        padding: 17px 15px 15px;
    
                        @include media (1200) {
                            padding: 22px 20px 20px;
                        }
                        
                        &::after {
                            display: none;
                        }

                        &:hover {
                            background-color: $white;
                            color: $dark;
                        }
                    }
                }
            }
        }

        .nav-toggle {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-bottom: 0;
            margin-left: 10px;
    
            @include media(768) {
                margin-left: 40px;
            }

            @include media(768) {
                display: none;
            }
    
            span {
                width: 30px;
                height: 2px;
                background-color: $white;
                display: block;
                margin-bottom: 5px;
    
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    nav.nav-logo {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        margin: 10px 0;

        @include media(768) {
            justify-content: center;
            margin: 20px 0;
        }

        @include media(992) {
            margin: 30px 0;
        }

        @include media(1200) {
            margin: 40px 0;
        }

        a {
            display: block;
            
            svg {
                width: 165px;
                height: 80px;
                fill: $white;
                
                @include media(992) {
                    width: 197px;
                    height: 80px;
                }
            }
        }
    }

    &.header--fix {
        position: fixed;
        background-color: #282828;
        animation-name: headerFix;
        animation-duration: 0.5s;

        nav.nav-logo {
            margin: 15px 0;

            @include media(768) {
                justify-content: center;
                margin: 15px 0;
            }
    
            @include media(992) {
                margin: 15px 0;
            }
    
            @include media(1200) {
                margin: 15px 0;
            }

            a {
                svg {
                    height: 65px;

                    @include media(992) {
                        height: 65px;
                    }
                }
            }
        }
    }
}

.header-fixed {
    height: 105px;

    @include media(768) {
        height: 126px;
    }

    @include media(992) {
        height: 146px;
    }

    @include media(1200) {
        height: 166px;
    }
}

.mobile-nav {
    display: none;
}