section.footer-nav {
    width: 100%;
    background-color: #282828;
    
    .footer-nav-wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;

        @include media(768) {
            padding-top: 0;
            padding-bottom: 0;
            flex-direction: row;
        }
    }

    nav.nav-logo {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        margin: 10px 0;

        @include media(768) {
            justify-content: flex-start;
            margin: 20px 0;
        }

        @include media(992) {
            margin: 30px 0;
        }

        @include media(1200) {
            margin: 40px 0;
        }

        a {
            display: block;
            
            svg {
                width: 165px;
                height: 80px;
                fill: $white;
                
                @include media(992) {
                    width: 197px;
                    height: 80px;
                }
            }
        }
    }

    nav.nav-right {
        display: flex;
        justify-content: flex-end;
        flex-grow: 1;
        margin-bottom: 10px;

        @include media(768) {
            width: 70%;
            margin-bottom: 0;
        }

        @include media(1200) {
            justify-content: flex-start;
            width: 60%;
        }

        ul {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            @include media(450) {
                flex-direction: row;
                justify-content: space-between;
            }

            li {
                margin-bottom: 15px;

                @include media(450) {
                    margin-bottom: 0;
                }

                @include media(768) {
                    margin-right: 10px;
                }

                @include media(1200) {
                    margin-right: 15px;
                }

                display: flex;
                align-items: center;
                order: 1;

                &:last-child {
                    margin-right: 0;
                    margin-bottom: 0;
                }
                
                @include media(1410) {
                    margin-right: 35px;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                a {
                    margin: 0;
                    color: $white;
                    font-family: $main-font;
                    text-transform: uppercase;
                    font-size: 1.7rem;

                    @include media(768){
                        font-size: 1.6rem;
                    }

                    @include media(1200){
                        font-size: 1.5rem;
                    }

                    letter-spacing: 1px;
                    line-height: 1;

                    &::after {
                        content: "";
                        position: absolute;
                        width: 0%;
                        left: 0;
                        bottom: -5px;
                        height: 3px;
                        background-color: $red;
                        opacity: 0;
                        visibility: hidden;
                        transition: ease-in-out 0.2s;
                    }

                    &:hover {
                        &::after {
                            width: 100%;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                }

                &.contact {
                    margin-bottom: 15px;
                    order: 0;

                    @include media(450) {
                        order: 1;
                        margin-bottom: 0;
                    }

                    a {
                        border: 1px solid $white;
                        padding: 17px 15px 15px;
    
                        @include media (1200) {
                            padding: 22px 20px 20px;
                        }

                        &::after {
                            display: none;
                        }

                        &:hover {
                            background-color: $white;
                            color: $dark;
                        }
                    }
                }
                

                &.menu-item-has-children {
                    position: relative;
                    margin-right: 15px;

                    @include media(1200) {
                        margin-right: 25px;
                    }

                    &::before {
                        content: "\f0dd";
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        line-height: 1;
                        position: absolute;
                        right: 0;
                        top: 30%;
                        transform: translateY(-50%);
                        color: $white;
                        cursor: pointer;
                    }

                    a {
                        padding-right: 15px;
                    }

                    .sub-menu {
                        position: absolute;
                        display: block;
                        flex-direction: column;
                        justify-content: flex-start;
                        z-index: 9999;
                        top: 100%;
                        right: 20px;
                        min-width: 175px;
                        border-top: 15px solid transparent;
                        opacity: 0;
                        visibility: hidden;
                        transition: all 0.2s;

                        &::before {
                            content: '';
                            display: block;
                            width: 0;
                            height: 0;
                            position: absolute;
                            right: 27px;
                            top: 0;
                            border-top: 10px solid transparent;
                            border-bottom: 10px solid transparent;
                            border-right: 10px solid $white;
                            margin-top: -15px;
                            transform: rotate(90deg);
                        }

                        li {
                            display: block;
                            margin-right: 0;
                            background-color: $white;
                            padding: 5px 25px;

                            &:last-child {
                                a {
                                    border-bottom: none;

                                    &::after {
                                        content: "";
                                        bottom: 4px;
                                    }
                                }
                            }

                            a {
                                position: relative;
                                display: block;
                                text-transform: capitalize;
                                margin: 0;
                                font-family: $main-font;
                                color: $black;
                                font-size: 1.5rem;
                                line-height: 44px;
                                border-bottom: 3px solid $white;

                                &::before {
                                    content: "\f061";
                                    position: absolute;
                                    bottom: 0;
                                    right: 0;
                                    font-family: "Font Awesome 5 Free";
                                    font-weight: 900;
                                    font-size: 1.2rem;
                                    transition: all 0.4s;
                                }

                                &:hover {
                                    &::after {
                                        width: 100%;
                                        opacity: 1;
                                        visibility: visible;
                                    }
                                }

                                &::after {
                                    content: "";
                                    position: absolute;
                                    width: 0%;
                                    bottom: -1px;
                                    left: 0;
                                    height: 3px;
                                    background-color: $red;
                                    opacity: 0;
                                    visibility: hidden;
                                    -webkit-transition: ease-in-out 0.2s;
                                    transition: ease-in-out 0.2s;
                                }
                            }
                        }
                    }

                    &:hover {
                        .sub-menu {
                            visibility: visible;
                            opacity: 1;
                            right: -22px;
                        }
                    }

                }
            }
        }
    }
}

footer {
    background-color: $dark;
    padding: 45px 0 25px 0;

    @include media(768) {
        padding: 90px 0 70px 0;
    }

    .footer-wrapper {
        display: flex;
        flex-wrap: wrap;
        margin: -20px -15px;

        .footer-box {
            width: 100%;
    
            @include media(992) {
                width: calc(100%/3);
            }
    
            display: flex;
            flex-direction: column;
            padding: 20px 15px;
    
            .header {
                .title {
                    text-transform: uppercase;
                    font-size: 3.1rem;
    
                    @include media(768) {
                        font-size: 3.2rem;
                    }
    
                    @include media(992) {
                        font-size: 3.3rem;
                    }
    
                    @include media(1200) {
                        font-size: 3.4rem;
                    }
    
                    margin-bottom: 17px;
                }
        
                .subtitle {
                    margin-top: 0;
                    margin-bottom: 24px;
                    font-size: 1.7rem;
    
                    @include media(768) {
                        margin-bottom: 34px;
                        font-size: 1.6rem;
                    }
    
                    @include media(992) {
                        margin-bottom: 44px;
                        font-size: 1.5rem;
                    }
    
                    @include media(1200) {
                        font-size: 1.4rem;
                    }
                }
            }
    
            .soccial {
                margin-bottom: 15px;
    
                @include media(992) {
                    margin-bottom: 30px;
                }
    
                &-box {
                    display: flex;
                    flex-wrap: wrap;
                    margin: -8px;
        
                    .box-item {
                        margin: 8px;
                        width: 37px;
                        height: 37px;
    
                        @include media(768) {
                            width: 47px;
                            height: 47px;
                        }
        
                        @include media(992) {
                            width: 57px;
                            height: 57px;
                        }
        
                        @include media(1200) {
                            width: 67px;
                            height: 67px;
                        }
    
                        border: 1px solid $white;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;
        
                        i {
                            font-size: 2rem;
                        }
        
                        &:hover {
                            background-color: $white;
        
                            i {
                                color: $dark;
                            }
                        }
                    }
                }
            }
        
            .copyright {
                margin-top: auto;
                font-size: 1.4rem;
    
                @include media(768) {
                    font-size: 1.3rem;
                }
    
                @include media(992) {
                    font-size: 1.2rem;
                }
    
                @include media(1200) {
                    font-size: 1.1rem;
                }
    
                color: $grey;
            }
    
            form {
                margin-bottom: 30px;
    
                input[type=email] {
                    width: 100%;
                    margin: 0 0 10px;
                    padding: 35px 30px;
                    font-size: 1.4rem;
                    line-height: 1;
                    color: $dark;
    
                    &::placeholder  {
                        font-size: 1.4rem;
                        line-height: 1;
                        color: $dark;
                    }
                }
    
                .btn-submit {
                    display: flex;
                    position: relative;
    
                    &::after {
                        content: '';
                        width: 35px;
                        height: 10px;
                        background-image: url('assets/images/svg/arrow-left.svg');
                        background-size: contain;
                        background-repeat: no-repeat;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 30px;
                        transition: 1s all;
                    }
    
                    &:hover {
                        &::after {
                            right: 15px;
                        }
                    }
                }
                input[type=submit] {
                    width: 100%;
                    margin: 0;
                    padding: 35px 30px;
                    background-color: $red;
                    font-size: 1.6rem;
                    letter-spacing: 1px;
                    line-height: 1;
                    text-transform: uppercase;
                    font-family: $headings-font;
                    color: $white;
                    text-align: left;
                    &::before {
                        content: 'te';
                    }
                }
            }
    
            nav {
                margin-top: auto;
    
                ul {
                    display: flex;
                    li {
                        a {
                            text-transform: uppercase;
                            color: $grey;
                            font-size: 1.4rem;
    
                            @include media(768) {
                                font-size: 1.3rem;
                            }
                
                            @include media(992) {
                                font-size: 1.2rem;
                            }
                
                            @include media(1200) {
                                font-size: 1.1rem;
                            }
    
                            &:hover {
                                color:  $white;
                            }
                        }
    
                        &::after {
                            content: '|';
                            color: $grey;
                            margin: 0 14px;
                        }
    
                        &:last-of-type {
                            &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .twitter-wrapper {
        background-color: #2e2e2e;
        padding: 30px 40px;
        border-radius: 10px;
        min-height: 550px;
    }
}