main.home-page {
    section.hero {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 30px 0;
    
        @include media(768) {
            padding: 60px 0;
        }
    
        @include media(992) {
            padding: 80px 0;
        }
    
        @include media(1200) {
            padding: 100px 0 160px;
            min-height: 1150px;
        }
    
        &::before {
            content: '';
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #242424;
            opacity: 0.76;
        }
    
        .hero-wrapper {
            position: relative;
            z-index: 2;
            padding: 0 15px;
            display: flex;
            flex-direction: column;
    
            @include media(1200) {
                padding: 0 130px;
                flex-direction: row;
            }
    
            .hero-contet {
                position: relative;
                width: 100%;
                order: 2;
    
                @include media(1200) {
                    width: 44%;
                    order: 1;
                }
    
                @include media(1450){
                    padding-left: 90px;
                }
    
                @include media(1780) {
                    padding-left: 130px;
                }
    
                padding-right: 50px;
                display: flex;
                flex-direction: column;
    
                a#arrow-down {
                    display: none;
    
                    @include media(1450){
                        display: block;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        left: 0;
                        animation: bounce 2s infinite;
                    }
                }
    
                h1 {
                    font-size: 2.6rem;
                    margin-top: 30px;
                    margin-bottom: 10px;
    
                    @include media(768) {
                        font-size: 3.6rem;
                        margin-top: 50px;
                        margin-bottom: 15px;
                    }
    
                    @include media(992) {
                        font-size: 4.6rem;
                        margin-bottom: 20px;
                    }
    
                    @include media(1200) {
                        margin-top: 0;
                        font-size: 5.6rem;
                        max-width: 142px;
                    }
    
                    @include media(1750) {
                        font-size: 7.6rem;
                    }
                    
                    line-height: 1;
                    text-transform: uppercase;
                    font-weight: 700;
                }
    
                p {
                    font-family: 'Gobold Thin';
                    font-size: 1.9rem;
                    margin: 10px 0;
    
                    @include media(768) {
                        font-size: 2rem;
                        margin: 15px 0;
                    }
    
                    @include media(992) {
                        font-size: 2.1rem;
                        margin: 20px 0;
                    }
    
                    @include media(1200) {
                        font-size: 2.2rem;
                    }
    
                    @include media(1750) {
                        font-size: 3.2rem;
                    }
    
                    letter-spacing: 1px;
                    text-transform: uppercase;
                }
    
                span {
                    font-size: 1.8rem;
                    margin: 10px 0;
    
                    @include media(768) {
                        font-size: 1.7rem;
                        margin: 15px 0;
                    }
    
                    @include media(992) {
                        font-size: 1.6rem;
                        margin: 20px 0;
                    }
    
                    @include media(1200) {
                        font-size: 1.5rem;
                    }
                }
    
                a.btn {
                    margin-top: 15px;
    
                    @include media(768) {
                        margin-top: 20px;
                    }
    
                    @include media(992) {
                        margin-top: 40px;
                    }
    
                    @include media(1200) {
                        margin-top: 60px;
                    }
    
                    align-self: flex-start;
                }
            }
    
            .hero-image {
                position: relative;
                width: 100%;
                display: flex;
                flex-direction: column;
                order: 1;
    
                @include media(1200) {
                    width: 56%;
                    order: 2;
                    padding-left: 50px;
                }
    
                @include media(1450) {
                    flex-direction: row;
                }
    
                .image-box {
                    align-self: center;
    
                    @include media(1200){
                        align-self: flex-start;
                    }
    
                    max-width: 700px;
                    flex-shrink: 1;
                    box-shadow: 0px 0px 63px -10px rgba(0,0,0,0.65);
    
                    img {
                        width: 100%;
                        @include greyscale(100%);
                    }
                }
    
                .soccial {
                    margin-top: 30px;
    
                    @include media(768) {
                        margin-top: 50px;
                    }
    
                    @include media(1450){
                        position: relative;
                        right: -67px;
                        margin-top: 0;
                        margin-left: auto;
                    }
    
                    @include media(1780){
                        right: 0;
                    }
    
                    &-box {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        margin: -8px;
                        position: relative;
    
                        @include media(1450){
                            flex-direction: column;
                            margin: -8px 0;
                            top: 50%;
                            transform: translateY(-50%);
                        }
            
                        .box-item {
                            margin: 8px;
                            width: 37px;
                            height: 37px;
    
                            @include media(768){
                                width: 47px;
                                height: 47px;
                            }
    
                            @include media(992){
                                width: 57px;
                                height: 57px;
                            }
    
                            @include media(1200){
                                width: 67px;
                                height: 67px;
                            }
    
                            @include media(1450){
                                flex-direction: column;
                                margin: 8px 0;
                            }
                            background-color: #313131;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            cursor: pointer;
            
                            i {
                                font-size: 2rem;
                            }
            
                            &:hover {
                                background-color: $white;
            
                                i {
                                    color: $dark;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    #books {
        display: none;
        position: absolute;
    
        @include media(620) {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 320px;
            bottom: -305px;
            padding: 0 20px;
        }
    
        @include media(768) {
            bottom: -290px;
        }
    
        @include media(840) {
            width: 840px; 
            padding: 0;
        }
    
        @include media(1200) {
            bottom: -205px;
        }
    
        left: 50%;
        transform: translate(-50%);
        z-index: 3;
        background-image: url('assets/images/jpg/book-list-bg.jpg');
        border: 5px solid $red;
    
    
        .books-overlay {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            
            svg {
                width: 114%;
                fill: $dark;
                opacity: 0.6;
            }
        }
    
        .book-list {
            position: relative;
            z-index: 2;
            display: flex;
            margin: -20px;
            
            .book-item {
                margin: 0 20px;
                width: 156px;
                height: 222px;
                position: relative;
                cursor: pointer;
    
                .img-box {
                    position: absolute;
                    top: 0;
                    transition: all 1.5s ease 0s;
    
                    img {
                        width: 100%;
                    }
                    
                    &:hover {
                        position: absolute;
                        top: -70px;
                        box-shadow: 0px 0px 63px -10px rgba(0,0,0,0.65);
                    }
                }
            }
        }
    }
    
    section.books {
        position: relative;
        background-image: url('assets/images/jpg/book-list-bg.jpg');
        border: 5px solid $red;
        padding: 20px;
        
        @include media(620) {
            height: 320px;
            background-image: none;
            border: none;
        }
    
        .books-overlay {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
            display: flex;
            align-items: center;
    
            @include media(620) {
                display: none;
            }
    
            svg {
                width: 114%;
                fill: $dark;
                opacity: 0.6;
            }
        }
    
        .responsive-book-list {
            position: relative;
            z-index: 2;
    
            @include media(620) {
                display: none;
            }
    
            .book-item {
                .img-box {
                    img {
                        margin: 0 auto;
                    }
                }
            }
    
            .slick-dots {
                li {
                    width: 13px;
                    height: 13px;
                    margin: 0 10px;
    
                    button {
                        width: 13px;
                        height: 13px;
        
                        &::before {
                            content: '';
                            opacity: 1;
                            border: 2px solid #2f2f2f;
                            background-color: $white;
                            border-radius: 50%;
                            line-height: 13px;
                            width: 13px;
                            height: 13px;
                        }
                    }
        
                    &.slick-active  {
                        button {
                            &::before {
                                content: '';
                                border: 2px solid $white;
                                background-color: $dark;
                                border-radius: 50%;
                                line-height: 13px;
                                width: 13px;
                                height: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    section.articles-featured {
        padding: 20px 0;
    
        h2 {
            font-size: 2.1rem;
    
            @include media(768) {
                font-size: 2rem;
            }
    
            @include media(992) {
                font-size: 1.9rem;
            }
    
            @include media(1200) {
                font-size: 1.8rem;
            }
    
            color: $dark;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 30px;
        }
    
        .articles-featured-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            
            .list-item {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-grow: 1;
                padding: 20px 30px;
                border: 1px solid #dfe1e3;

                img {
                    height: 20px;

                    @include media(768) {
                        height: auto;
                    }

                }
            }
        }
    }
    
    section.events {
        padding: 20px 0 40px;
    
        @include media(992) {
            padding: 40px 0 50px;
        }
    
        @include media(1200) {
            padding: 40px 0;
        }
    
        h2 {
            color: $dark;
            font-size: 3rem;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 30px;
    
            @include media(768) {
                font-size: 4rem;
                margin-bottom: 40px;
            }
    
            @include media(992) {
                font-size: 5rem;
                margin-bottom: 40px;
            }
    
            @include media(1200) {
                font-size: 6rem;
                margin-bottom: 60px;
            }
        }
    
        .events-list-box {
            .btn {
                margin-top: 20px;
    
                @include media(768) {
                    margin-top: 30px;
                }
    
                @include media(992) {
                    margin-top: 40px;
                }
    
                @include media(1170) {
                    margin-top: 50px;
                }
            }
        }
    }
    
    section.reviews {
        background-color: $dark;
        padding: 20px 0;
    
        @include media(768) {
            padding: 50px 0;
        }
    
        @include media(992) {
            padding: 100px 0;
        }
    
        @include media(1200) {
            padding: 150px 0;
        }
    
        h2 {
            color: $white;
            font-size: 3rem;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 30px;
    
            @include media(768) {
                font-size: 4rem;
                margin-bottom: 40px;
            }
    
            @include media(992) {
                font-size: 5rem;
                margin-bottom: 40px;
            }
    
            @include media(1200) {
                font-size: 6rem;
                margin-bottom: 60px;
            }
        }
    
        .reviews-box {
            .box-item {
                .box-item-wrapper {
                    display: flex;
                    flex-wrap: wrap;
    
                    .item-left {
                        order: 2;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        background-color: #2f2f2f;
                        width: 100%;
                        padding: 40px;
    
                        @include media(992) {
                            order: 1;
                            width: calc(100% - 280px);
                            padding: 70px 100px;
                        }
    
                        @include media(1200) {
                            width: calc(100% - 480px);
                        }
    
                        @include media(1400) {
                            padding: 70px 150px;
                        }

                        &--no-avatar {
                            justify-content: center;
                        }
        
                        .avatar {
                            background-color: #363636;
                            width: 170px;
                            height: 170px;
                            border-radius: 50%;
                            padding: 25px;
        
                            img {
                                width: 100%;
                                border-radius: 50%;
                                object-fit: none;
                            }
                        }
                        
                        p {
                            position: relative;
                            padding: 15px 0;
                            margin: 0 0 15px;
                            font-size: 2.35rem;
    
                            @include media(768) {
                                padding: 25px 0;
                                margin: 15px 0;
                                font-size: 2.3rem;
                            }
    
                            @include media(992) {
                                padding: 35px 0;
                                font-size: 2.25rem;
                            }
    
                            @include media(1200) {
                                padding: 45px 0;
                                font-size: 2.2rem;
                            }
    
                            line-height: 2;
                            font-style: italic;
                            text-align: center;
                            
                            &::after {
                                content: '';
                                position: absolute;
                                bottom: 0;
                                left: 50%;
                                transform: translateX(-50%);
                                height: 1px;
                                width: 55px;
                                background-color: #fff;
                            }
                        }
        
                        h3 {
                            font-family: $main-font;
                            font-style: italic;
                            text-align: center;
                            font-size: 2rem;
    
                            @include media(768) {
                                font-size: 1.9rem;
                            }
    
                            @include media(992) {
                                font-size: 1.8rem;
                            }
    
                            @include media(1200) {
                                font-size: 1.7rem;
                            }
                        }
                    }
            
                    .item-right {
                        order: 1;
                        position: relative;
                        z-index: 0;
                        flex-shrink: 0;
                        background-color: $red;
                        width: 100%;
                        padding: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
    
                        @include media(992) {
                            order: 2;
                            width: 280px;
                            padding: 0;
                        }
    
                        @include media(1200) {
                            padding: 100px 90px;
                            width: 480px;
                        }
    
                        @include media(1400) {
                            padding: 150px 90px;
                        }
        
                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            background-position: 50%;
                            width: 100%;
                            height: 100%;
                            background-image: url('assets/images/jpg/reviews-book-bg.jpg');
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                        
                        img {
                            position: relative;
                            z-index: 2;
                            width: 100%;
                            box-shadow: 0px 0px 63px -10px rgba(0,0,0,0.65);
                            max-width: 250px;
    
                            @include media(1200) {
                                max-width: 100%;
                            }
                        }
                    }
                }
            }
    
            .slick-dots {
                width: 100%;
                bottom: 15px;

                @include media(992) {
                    width: calc(100% - 280px);
                    bottom: 50px;
                }

                @include media(1200) {
                    width: calc(100% - 480px);
                }

                @include media(1400) {
                    bottom: 70px;
                }
                
                li {
                    width: 13px;
                    height: 13px;
                    margin: 0 10px;
    
                    button {
                        width: 13px;
                        height: 13px;
        
                        &::before {
                            content: '';
                            opacity: 1;
                            border: 2px solid #2f2f2f;
                            background-color: $white;
                            border-radius: 50%;
                            line-height: 13px;
                            width: 13px;
                            height: 13px;
                        }
                    }
        
                    &.slick-active  {
                        button {
                            &::before {
                                content: '';
                                border: 2px solid $white;
                                background-color: $dark;
                                border-radius: 50%;
                                line-height: 13px;
                                width: 13px;
                                height: 13px;
                            }
                        }
                    }
                }
            }
        }
    }
    
    section.latest-work {
        padding: 30px 0 30px;
    
        @include media(992) {
            padding: 60px 0;
        }
    
        h2 {
            color: $dark;
            font-size: 3rem;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 30px;
    
            @include media(768) {
                font-size: 4rem;
                margin-bottom: 40px;
            }
    
            @include media(992) {
                font-size: 5rem;
                margin-bottom: 40px;
            }
    
            @include media(1200) {
                font-size: 6rem;
                margin-bottom: 60px;
            }
        }
    
        .latest-list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: -15px 0;
    
            @include media(768) {
                margin: -30px;
            }
    
            @include media(1550) {
                margin: -50px;
            }
    
            .list-item {
                width: 100%;
                background-color: #eeeff0;
                padding: 45px;
                margin: 15px 0;
    
                @include media(768) {
                    width: calc(50% - 60px);
                    margin: 30px;
                }
    
                @include media(1550) {
                    width: calc(33.3% - 100px);
                    padding: 65px;
                    margin: 50px;
                }
    
                border: 4px solid transparent;
                cursor: pointer;
    
                &:hover {
                    border: 4px solid $red;
                }
    
                img {
                    width: 100%;
                    box-shadow: 0px 0px 63px -5px rgba(0, 0, 0, 0.65); 
                    margin-bottom: 25px;
                }
    
                p {
                    margin-top: 25px;
                    font-family: $headings-font;
                    color: $dark;
                    font-size: 1.9rem;
                    text-transform: uppercase;
                    text-decoration: underline;
    
                    @include media(1550) {
                        max-width: 270px;
                        font-size: 2rem;
                    }
                }
            }
        }
    }
    
    section.instagram {
        h2 {
            color: $dark;
            font-size: 3rem;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 30px;
    
            @include media(768) {
                font-size: 4rem;
                margin-bottom: 40px;
            }
    
            @include media(992) {
                font-size: 5rem;
                margin-bottom: 40px;
            }
    
            @include media(1200) {
                font-size: 6rem;
                margin-bottom: 60px;
            }
        }
    }
}