/* Custom Container 1180px  */
.custom-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include media(576) {
        max-width: 540px;
    }

    @include media(768) {
        max-width: 720px;
    }

    @include media(992) {
        max-width: 960px;
    }

    @include media(1200) {
        max-width: 1180px;
    }
}

/* Custom Container 1400px  */
.custom-container-big {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    @include media(576) {
        max-width: 540px;
    }

    @include media(768) {
        max-width: 720px;
    }

    @include media(992) {
        max-width: 960px;
    }

    @include media(1170) {
        max-width: 1200px;
    }

    @include media(1380) {
        max-width: 1400px;
    }
}

/* Preload Transition  */
.preload * {
    transition: none !important;
}

/* Loader Content */
.onload {
    &-gif {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 200px;
        }
    }

    &-content {
        display: none;
    }
}

/* Stop Scrolling */
.stop-scrolling {
    height: 100vh;
    overflow-y: hidden;
    -webkit-overflow-y-scrolling: hidden;
}

/* Page Wrapper */
.page-wrapper {
    padding: 20px 0 20px;
           

    @include media(768) {
        padding: 50px 0 50px;
    }

    @include media(992) {
        padding: 60px 0 60px;
    }

    @include media(1200) {
        padding: 80px 0 180px;
    }
}

/* Content Style */
.main-article {
    color: $light-dark;

    .title {
       text-transform: uppercase;
       font-size: 6rem;
       line-height: 1.2;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $light-dark;
    }
    
    p,
    a,
    span,
    label,
    li {
        color: $light-dark;
        margin: 0px;
        font-size: 1.9rem;
    
        @media (min-width: 768px) {
            font-size: 1.7rem;
        }
    
        @media (min-width: 1200px) {
            font-size: 1.6rem;
        }
    
        line-height: 1.5;
        font-weight: 400;
    
        p,
        a,
        span,
        label {
            font-size: 100%;
            margin: 0;
        }
    }
    
    ul {
        margin: 0;
        padding: 0;
    
        li {
            position: relative;
            margin: 0;
            list-style-type: none;

            &::before {
                content: "\f061";
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                line-height: 1;
                color: #6a6a6c;
                margin-right: 10px;
                font-size: 1.3rem;
                transition: all 0.5s;
                cursor: pointer;
            }

            ul {
                margin-left: 40px;
            }
        }
    }
    
    ol {
        padding-left: 15px;
    
        li {
            list-style-type: decimal;
            margin-bottom: 4px;
        }
    }
    
    a {
        text-decoration: underline;
    }
    
    blockquote {
        border: 2px solid #dedee1;
        border-left: none;
        border-right: none;
        padding: 20px 0;
        margin: 20px 0;
        font-family: $main-font;
        font-style: italic;
        font-size: 2rem;
        color: $dark;
        line-height: 24px;
    
        @include media(768) {
            padding: 25px 0;
            margin: 30px 0;
            font-size: 1.9rem;
        }

        @include media(992) {
            padding: 30px 0;
            margin: 40px 0;
            font-size: 1.8rem;
        }
    
        @include media(1200) {
            padding: 40px 0;
            margin: 50px 0;
            font-size: 1.7rem;
        }
    
        p {
            color: #6a6a6c;
            font-size: 2.5rem;

            @include media(768) {
                font-size: 2.4rem;
            }

            @include media(992) {
                font-size: 2.3rem;
            }
        
            @include media(1200) {
                font-size: 2.2rem;
            }

            &::before {
                content: '“';
            }

            &::after {
                content: '”';
            }
        }
    }

    img {
        width: 100%;
        height: auto;

        @media (min-width: 768px) {
            width: auto;
            max-width: 100%;
        }
    }

    iframe {
        width: 100%;

        @media (min-width: 768px) {
            width: auto;
        }
    }

    p {
        margin: 20px 0;
    }

    b {
        font-weight: 700;
        color: $light-dark;
    }

    i {
        color: $light-dark;
    }

    strong {
        font-weight: 600;
        color: $light-dark;
    }

    q {
        color: $light-red;
    }

    table, th, td {
        vertical-align: top;
        line-height: 1;
        border-spacing: 0;
        border: 1px solid #d8d8db;
        padding: 1em;
    }

    &--white {
        color: $white;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: $white;
        }
        
        p,
        a,
        span,
        label,
        li {
            color: $white;
        }
        
        ul {
            li {
                &::before {
                    color: $white;
                }
            }
        }
        
        blockquote {
            border: 2px solid #dedee1;
        
            p {
                color: $white;
            }
        }
       
        b {
            font-weight: 700;
            color: $white;
        }

        i {
            color: $white;
        }

        strong {
            color: $white;
        }

        q {
            color: $light-red;
        }

        table, th, td {
            border: 1px solid #d8d8db;
        }
    }

    .wp-caption-text {
        font-size: 1.7rem;
        line-height: 1.4;

        @include media(768) {
            font-size: 1.6rem;
            line-height: 1.6;
        }

        @include media(992) {
            font-size: 1.5rem;
            line-height: unset;
        }

        @include media(1200) {
            font-size: 1.4rem;
        }
    }
}

/* Animation Arrow */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(-50%);
    }
    40% {
      transform: translateY(-30%);
    }
    60% {
      transform: translateY(0);
    }
}

@keyframes headerFix {
    0% {
      transform: translateY(-15%);
    }

    100% {
        transform: translateY(0);
    }
}

/* Share Style */
.share-costume {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #dedee1;
    border-left: none;
    border-right: none;
    padding: 15px 0;

    @include media(768) {
        padding: 20px 0;
    }

    @include media(992) {
        padding: 25px 0;
    }

    @include media(1200) {
        padding: 30px 0;
    }

    h2 {
        font-size: 2.1rem;
        text-transform: uppercase;
        color: $dark;
        margin-right: 25px;
        margin-bottom: 0;

        @include media(768) {
            font-size: 2rem;
            margin-right: 20px;
        }

        @include media(992) {
            font-size: 1.9rem;
            margin-right: 25px;
        }

        @include media(1200) {
            font-size: 1.8rem;
            margin-right: 30px;
        }
    }

    .share-box {
        display: flex;
        margin: 0 -6px;

        .box-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;

            @include media(768) {
                width: 45px;
                height: 45px;
            }

            @include media(992) {
                width: 55px;
                height: 55px;
            }

            @include media(1200) {
                width: 60px;
                height: 60px;
            }

            border-radius: 50%;
            background: $black;
            margin: 0 6px;

            &:hover {
                background: $dark;
            }

            &--facebook {
                background: #3b5998;
            }

            &--twitter {
                background: #28aae1;
            }

            &--pinterest {
                background: #bd081c;
            }

            &--instagram {
                background: radial-gradient(circle at 33% 100%, #fed373 4%, #f15245 30%, #d92e7f 62%, #9b36b7 85%, #515ecf);
            }

            i {
                font-size: 2.8rem;

                @include media(768) {
                    font-size: 2.7rem;
                }

                @include media(992) {
                    font-size: 2.6rem;
                }

                @include media(1200) {
                    font-size: 2.5rem;
                }
            }
        }
    }
}

/* Pagination Style */
.pagination {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    margin: 10px 0;

    .wp-pagenavi  {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.25em;

        @include media (1200) {
            margin: 0 -0.5em;
        }

        a, .extend {
            width: 30px;
            height: 30px;
            margin: 0 0.25em;


            @include media (768) {
                width: 35px;
                height: 35px;
            }

            @include media (992) {
                width: 40px;
                height: 40px;
            }

            @include media (1200) {
                width: 45px;
                height: 45px;
                margin: 0 0.5em;
            }

            border: 1px solid $dark;
            font-family: $headings-font;
            color: $dark;
            line-height: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                border-color: transparent;
                color: $white;
                background-color: $dark;

                i {
                    color: $white;
                }
            }
        }

        .extend {
            &:hover {
                border-color: $dark;
                color: $dark;
                background-color: transparent;

                i {
                    color: $dark;
                }
            }
        }

        .current {
            width: 30px;
            height: 30px;
            margin: 0 0.25em;

            @include media (768) {
                width: 35px;
                height: 35px;
            }

            @include media (992) {
                width: 40px;
                height: 40px;
            }

            @include media (1200) {
                width: 45px;
                height: 45px;
                margin: 0 0.5em;
            }

            border: 1px solid transparent;
            font-family: $headings-font;
            background-color: $red;
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .page-numbers  {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -0.25em;

        @include media (1200) {
            margin: 0 -0.5em;
        }

        a, .extend {
            width: 30px;
            height: 30px;
            margin: 0 0.25em;


            @include media (768) {
                width: 35px;
                height: 35px;
            }

            @include media (992) {
                width: 40px;
                height: 40px;
            }

            @include media (1200) {
                width: 45px;
                height: 45px;
                margin: 0 0.5em;
            }

            border: 1px solid $dark;
            font-family: $headings-font;
            color: $dark;
            line-height: 1;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                border-color: transparent;
                color: $white;
                background-color: $dark;

                i {
                    color: $white;
                }
            }
        }

        .extend {
            &:hover {
                border-color: $dark;
                color: $dark;
                background-color: transparent;

                i {
                    color: $dark;
                }
            }
        }

        .current {
            width: 30px;
            height: 30px;
            margin: 0 0.25em;

            @include media (768) {
                width: 35px;
                height: 35px;
            }

            @include media (992) {
                width: 40px;
                height: 40px;
            }

            @include media (1200) {
                width: 45px;
                height: 45px;
                margin: 0 0.5em;
            }

            border: 1px solid transparent;
            font-family: $headings-font;
            background-color: $red;
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

}

/* Selectric Style */
.selectric-wrapper {
    width: 250px;

    .selectric {
        border: 2px solid $light-grey;

        .label {
            font-family: $headings-font;
            color: $light-grey;
            text-transform: uppercase;
        }
    }

    .selectric-items {
        background-color: $white;

        li {
            font-family: $headings-font;
            color: $light-grey;
            text-transform: uppercase;
    
            &:hover {
                background-color: #f5f6f7;
            }

            &.highlighted {
                background-color: rgba(234, 56, 56, 0.1);
                color: $red;
            }
        }
    }
}

/* Custom Page Box Style */
.custom-page-box {
    .box {
        &__header {
            display: flex;
            flex-direction: column;

            @include media (768) {
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }

            @include media (1200) {

            }
    
            .title {
                font-size: 2.5rem;
    
                @include media(768) {
                    font-size: 3rem;
                    margin-bottom: 0;
                }
    
                @include media(992) {
                    font-size: 4.5rem;
                }
    
                @include media(1200) {
                    font-size: 5rem;
                }
                
                line-height: 1.2;
                color: $dark;
                text-transform: uppercase;
                flex-shrink: 0;
            }
    
            .filter-wrapper {
                display: flex;

                form {
                    display: flex;
                }
    
                .filter-box {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-between;
                    width: calc(50% - 20px);

                    @include media(768) {
                        flex-direction: row;
                        width: unset;
                    }
    
                    .box-title {
                        font-family: $headings-font;
                        color: $light-grey;
                        text-transform: uppercase;
                        text-align: center;
                        flex-shrink: 0;
                        margin-bottom: 5px;
                        
                        @include media(768) {
                            margin-bottom: 0;
                            margin-right: 10px;
                        }
                    }
    
                    &:not(:last-of-type) {
                        margin-right: 40px;

                        @include media(768) {
                            margin-right: 60px;
                        }

                        @include media(992) {
                            margin-right: 80px;
                        }

                        @include media(1200) {
                            margin-right: 100px;
                        }
                    }

                    .selectric-wrapper {
                        width: 100%;

                        @include media(768) {
                            width: 100px;
                        }

                        @include media(992) {
                            width: 150px;
                        }

                        @include media(1200) {
                            width: 200px;
                        }

                        @include media(1380) {
                            width: 250px;
                        }
                    }
                }

                .remove-filters {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                    padding-bottom: 15px;

                    @include media(768) {
                        align-items: center;
                        padding-bottom: 0;
                    }

                    padding-left: 20px;

                    &:hover {
                        i {
                            color: $red;
                        }
                    }

                    &::before {
                        content: '\f715';
                        font-family: "Font Awesome 5 Free";
                        font-weight: 900;
                        color: $content_bg;
                        position: absolute;
                        right: 0;
                    }

                    i {
                        color: $dark;
                        font-size: 1.9rem;
                    }
                }
            }
        }
        
        &__main {
            padding: 20px 0;

            @include media(768) {
                padding: 40px 0;
            }

            @include media(992) {
                padding: 60px 0;
            }

            @include media(1200) {
                padding: 80px 0;
            }

            .no-results-found {
                margin: 50px auto 0 auto;
                color: $dark;
                text-transform: uppercase;
            }
        }
    
        // &__footer {
    
        // }
    }
}

/* Events List Box Style */
.events-list-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    .events-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: -20px 0;

        .list-item {
            background-color: $white;
            color: $dark;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            padding: 20px;

            @include media(768) {
                padding: 30px;
            }

            @include media(992) {
                padding: 40px;
            }
            
            @include media(1170) {
                padding: 50px;
                flex-direction: row;
            }

            margin: 20px 0;
            cursor: pointer;

            &:hover {
                background-image: url('assets/images/jpg/event-even-bg.jpg');
                background-size: cover;
                background-repeat: no-repeat;

                span {
                    color: $white;
                }

                p {
                    color: $white;
                }

                &:hover {
                    .img-box {
                        box-shadow: 0px 0px 63px 24px rgba(255, 0, 0, 0.65); 
                    }
                }

                .img-box {
                    background-color: $red;

                    h3 {
                        color: $white;
                    }
                }
            }

            span {
                order: 1;
                font-family: $main-font;
                color: $dark;
                font-size: 5rem;
                text-transform: none;
                text-decoration: none;
                margin-bottom: 20px;

                @include media(768) {
                    order: 1;
                    font-size: 7rem;
                }

                @include media(992) {
                    order: 1;
                    font-size: 9rem;
                }

                @include media(1170) {
                    order: 1;
                    font-size: 10rem;
                    margin-bottom: 0;
                    margin: 0 80px;
                }
            }

            p {
                order: 2;
                position: relative;
                z-index: 1;
                font-family: $main-font;
                color: $dark;
                font-size: 3.2rem;
                margin-top: 20px;
                text-align: center;

                @include media(768) {
                    font-size: 3.6rem;
                }

                @include media(992) {
                    font-size: 4rem;
                }

                @include media(1170) {
                    order: 1;
                    margin-right: -70px;
                    font-size: 4.4rem;
                    margin-top: 0;
                    text-align: left;
                    max-width: 660px;
                }

                font-weight: 100;
                text-transform: uppercase;
                text-decoration: underline;
            }

            .img-box {
                order: 1;
                background-color: #e6e8ea;
                max-width: 400px;
                flex-shrink: 0;
                padding: 20px 20px 0;

                @include media(768) {
                    padding: 40px 40px 0;
                }
    
                @include media(992) {
                    padding: 60px 60px 0;
                }

                @include media(1170) {
                    order: 1;
                    padding: 80px 80px 0;
                }

                img {
                    @include greyscale(100%);
                }

                h3 {
                    color: $dark;
                    text-align: center;
                    text-transform: uppercase;
                    font-size: 2rem;
                    padding: 15px 0;
                    margin-bottom: 0;

                    @include media(768) {
                        padding: 20px 0;
                    }
        
                    @include media(992) {
                        padding: 25px 0;
                    }

                    @include media(1170) {
                        padding: 30px 0;
                    }
                }
            }
        }
    }
}

/* News Sidbar Items Style */
.news__sidebar {
    .item {
        background-color: $white;
        padding: 30px;
        margin-bottom: 40px;

        &:last-of-type {
            margin-bottom: 0;
        }

        .item-header {
            h4 {
                color: $dark;
                text-transform: uppercase;
                margin-bottom: 15px;
                font-size: 2.4rem;

                @include media(768) {
                    font-size: 2.6rem;
                }

                @include media(992) {
                    font-size: 2.8rem;
                }

                @include media(1200) {
                    font-size: 3rem;
                }
            }
        }
        

        &--search {
            form {
                position: relative;
                display: flex;

                input {
                    width: 100%;
                    border: 2px solid $light-grey;
                    margin-bottom: 0;
                    padding: 12px 40px 12px 12px;
                    font-size: 1.9rem;

                    @include media(768) {
                        font-size: 1.8rem;
                    }

                    @include media(992) {
                        font-size: 1.7rem;
                    }

                    @include media(1200) {
                        font-size: 1.6rem;
                    }

                    font-family: $headings-font;
                    text-transform: uppercase;
                    color: $light-grey;

                    &::placeholder {
                        font-size: 1.9rem;

                        @include media(768) {
                            font-size: 1.8rem;
                        }

                        @include media(992) {
                            font-size: 1.7rem;
                        }

                        @include media(1200) {
                            font-size: 1.6rem;
                        }

                        font-family: $headings-font;
                        text-transform: uppercase;
                        color: $light-grey;
                    }
                }

                button {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 12px;
                    background-color: transparent;
                }
            }
        }

        &--categories {
            .categories-box {
                padding-top: 20px;

                .box-item {
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 2px solid $black;
                    padding: 10px 0;
                    margin-bottom: 10px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    &.box-item--current {
                        .item__title  {
                            color: $red;
                        }
                    }

                    .item__title {
                        color: $black;
                        font-size: 2.3rem;

                        @include media(768) {
                            font-size: 2.2rem;
                        }

                        @include media(992) {
                            font-size: 2.1rem;
                        }

                        @include media(1200) {
                            font-size: 2rem;
                        }

                        text-transform: uppercase;
                        margin-bottom: 0;

                        &:hover {
                            color: $red;
                        }
                    }

                    .item__count {
                        color: $light-grey;
                        font-family: $headings-font;
                        font-size: 1.7rem;

                        @include media(768) {
                            font-size: 1.6rem;
                        }

                        @include media(992) {
                            font-size: 1.5rem;
                        }

                        @include media(1200) {
                            font-size: 1.4rem;
                        }
                    }
                }
            }
        }

        &--recent-posts {
            .recent-posts-box {
                .box-item {
                    border-bottom: 2px solid $black;
                    padding: 10px 0;
                    margin-bottom: 10px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    .item__title {
                        color: $black;
                        font-size: 1.8rem;

                        @include media(768) {
                            font-size: 1.7rem;
                        }

                        @include media(992) {
                            font-size: 1.6rem;
                        }

                        @include media(1200) {
                            font-size: 1.5rem;
                        }

                        text-transform: uppercase;
                        margin-bottom: 12px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .item__footer {
                        display: flex;

                        .author {
                            color: $dark;
                            font-size: 1.4rem;

                            @include media(768) {
                                font-size: 1.3rem;
                            }

                            @include media(992) {
                                font-size: 1.2rem;
                            }

                            @include media(1200) {
                                font-size: 1.1rem;
                            }

                            font-style: italic;
                            margin-left: 10px;
                            margin: 0 5px;

                            &::after {
                                content: '-';
                                padding: 0 5px;
                            }
                        }

                        .date {
                            color: $light-grey;
                            font-size: 1.4rem;

                            @include media(768) {
                                font-size: 1.3rem;
                            }

                            @include media(992) {
                                font-size: 1.2rem;
                            }

                            @include media(1200) {
                                font-size: 1.1rem;
                            }
                        }
                    }
                }
            }
        }
    }
}
