button::-moz-focus-inner {
    border: 0;
    padding: 0;
}

button[disabled] {
    cursor: default;
}

.btn {
    position: relative;
    display: inline-block;
    overflow: hidden;
    color: $white;
    background-color: $red;
    font-family: $headings-font;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.9rem;
    padding: 1.3em 2.5em;

    @include media(768) {
        font-size: 1.8rem;
        padding: 1.7em 3.5em;
    }

    @include media(992) {
        font-size: 1.7rem;
        padding: 2em 4.5em;
    }

    @include media(1200) {
        font-size: 1.6rem;
        padding: 2em 5em;
    }

    @include media(1750) {
        padding: 2.5em 7em;
    }

    cursor: pointer;

    &:hover {
        background-color: $white;
        color: $dark;
    }

    &--black {
        background-color: $dark;
        color: $white;

        &:hover {
            background-color: $red;
            color: $white;
        }
    }
}

.btn-no-bg {
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    border: 1px solid $white;
    padding: 17px 15px 15px;
    cursor: pointer;

    @include media (1200) {
        padding: 22px 20px 20px;
    }
    
    &::after {
        display: none;
    }

    &:hover {
        background-color: $white;
        color: $dark;
    }
}