.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    //Instead of the line below you could use @include user-select($select)
    user-select: none;
}

form {
    margin: 0;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    white-space: normal;
    border: 0;
    padding: 0;
}

input {
    vertical-align: baseline;
    line-height: normal;
    margin: 0 0 25px;
}

input[type="search"] {
    -webkit-appearance: textfield;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    //Instead of the line below you could use @include box-sizing($bs)
    box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type="checkbox"] {
    line-height: normal;
    padding: 0;
    margin: 4px 0 0;
}

input[type="radio"] {
    line-height: normal;
    padding: 0;
    margin: 4px 0 0;
}

select {
    vertical-align: baseline;
    text-transform: none;
    padding-right: 0;
    margin: 0;
    font-family: $main-font;
    font-size: 1.9rem;

    @media (min-width: 768px) {
        font-size: 1.7rem;
    }

    @media (min-width: 1200px) {
        font-size: 1.6rem;
    }
}

label {
    display: block;
    color: $main-text-color;
    font-family: $main-font, #{$sans};
    font-size: $main-font-size;
    font-weight: bold;
    text-transform: none;
    letter-spacing: normal;
    margin-bottom: 7px;
}

::-webkit-input-placeholder {
    color: $main-text-color;
    font-size: $main-font-size;
    font-family: $main-font;
    font-weight: $main-font-weight;
    letter-spacing: normal;
}

:-moz-placeholder {
    color: $main-text-color;
    font-size: $main-font-size;
    font-family: $main-font;
    font-weight: $main-font-weight;
    letter-spacing: normal;
}

::-moz-placeholder {
    color: $main-text-color;
    font-size: $main-font-size;
    font-family: $main-font;
    font-weight: $main-font-weight;
    letter-spacing: normal;
}

:-ms-input-placeholder {
    color: $main-text-color;
    font-size: $main-font-size;
    font-family: $main-font;
    font-weight: $main-font-weight;
    letter-spacing: normal;
}

/* Custom Select */
select {
    height: 40px;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    background-color: $white;
    background-image: url(assets/images/svg/arrow-down.svg);
    background-position: right 17px bottom 50%;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    width: 100%;
    border: 2px solid #D3DCEB;
    border-radius: 3px;
    outline: 1px solid $white;
    outline-offset: -1px;
    line-height: 1;
    text-align-last: left;
    padding-left: 17px;
    padding-right: 45px;
    color: $medium-blue;
    cursor: pointer;
}

/* Custom Input Checkbox Square */
.checkbox_square {
    display: flex;
    align-items: center;

    input[type=checkbox] {
        position: relative;
        -webkit-appearance: none;
        width: 16px;
        height: 16px;
        margin-bottom: 0;
        margin-top: 0px;
        margin-right: 4px;
        vertical-align: top;
        border: 1px solid $medium-blue;
        border-radius: 3px;
        background: #fff;
        line-height: normal;
        cursor: pointer;
        margin-left: 5px;
        margin-right: 5px;
        color: $black;
    }

    input[type=checkbox]:checked:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
    }

    input[type=checkbox]:checked:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 3px;
        top: 2px;
        left: 2px;
        background-color: $blue;
    }

    label {
        margin-left: 20px;
        color: $medium-blue;
        font-weight: 500;
        cursor: pointer;
    }
}

/* Custom Input Radio Square */
.radio_square {
    display: flex;
    align-items: center;

    input[type=radio] {
        position: relative;
        -webkit-appearance: none;
        width: 16px;
        height: 16px;
        margin-bottom: 0;
        margin-top: 0px;
        margin-right: 4px;
        vertical-align: top;
        border: 1px solid $medium-blue;
        border-radius: 3px;
        background: #fff;
        line-height: normal;
        cursor: pointer;
        margin-left: 5px;
        margin-right: 5px;
        color: $black;
    }

    input[type=radio]:checked:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
    }

    input[type=radio]:checked:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 3px;
        top: 2px;
        left: 2px;
        background-color: $blue;
    }

    label {
        margin-left: 20px;
        color: $medium-blue;
        font-weight: 500;
        cursor: pointer;
    }
}

/* Custom Input Circle */
.checkbox_circle {
    display: flex;
    align-items: center;

    input[type=checkbox] {
        position: relative;
        -webkit-appearance: none;
        width: 16px;
        height: 16px;

        @media (min-width: 769px) {
            width: 26px;
            height: 26px;
        }

        @media (min-width: 1200px) {
            width: 36px;
            height: 36px;
        }

        margin-bottom: 0;
        margin-top: 0px;
        margin-right: 4px;
        vertical-align: top;
        border: 1px solid $grey;
        border-radius: 50%;
        background: #fff;
        line-height: normal;
        cursor: pointer;
        margin-left: 5px;
        margin-right: 5px;
        color: $black;
    }

    input[type=checkbox]:checked:after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
    }

    input[type=checkbox]:checked:before {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        top: 2px;
        left: 2px;

        @media (min-width: 769px) {
            width: 18px;
            height: 18px;
            top: 3px;
            left: 3px;
        }

        @media (min-width: 1200px) {
            width: 24px;
            height: 24px;
            top: 5px;
            left: 5px;
        }

        border-radius: 50%;
        background-color: $grey;
    }

    input[type=checkbox].checkbox_circle {
        &--blue {
            &:checked {
                border-color: $blue;

                &:before {
                    background-color: $blue;
                }
            }
        }

        &--yellow {
            &:checked {
                border-color: $yellow;

                &:before {
                    background-color: $yellow;
                }
            }
        }

        &--rose {
            &:checked {
                border-color: $rose;

                &:before {
                    background-color: $rose;
                }
            }
        }

        &--white {
            &:checked {
                border-color: $black;
                background-color: $black;

                &:before {
                    background-color: $white;
                }
            }
        }

        &--black {
            &:checked {
                border-color: $black;

                &:before {
                    background-color: $black;
                }
            }
        }
    }

    label {
        margin-left: 20px;
        color: $medium-blue;
        font-weight: 500;
        cursor: pointer;
    }
}