.right {
    float: right;
}

.left {
    float: left;
}

.t-right {
    display: table;
    margin: 0 0 0 auto;
}

.t-left {
    display: table;
    margin: 0 auto 0 0;
}

.table {
    display: table;
    height: 100%;
    width: 100%;
}

.table_cell {
    display: table-cell;
    vertical-align: middle;
}

.no-scroll {
    overflow: hidden;
}

.cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

img {
    &.alignleft {
        margin-right: auto;
    }

    &.alignright {
        margin-left: auto;
    }

    &.aligncenter {
        margin: 0 auto;
    }
}

.alignleft {
    display: block;
    text-align: left;
}

.alignright {
    display: block;
    text-align: right;
}

.aligncenter {
    display: block;
    text-align: center;
}