// colors
$white: #fff;
$black: #1C1C1C;
$light-black: #453605;
$light-dark: #49494b;
$dark: #242424;
$grey: #7a7a7a;
$dark-grey:#908E98;
$light-grey: #a0a2a6;
$red: #ea3838;
$light-red: #FF7979;
$blue: #113D83;
$dark-blue: #121A40;
$medium-blue: #86A1B9;
$light-blue: #F0FAFF;
$violet: #523EC1;
$green: #81C15F;
$yellow: #FFC529;
$dark-yellow: #FDB900;
$rose: #CB19A8;
$main-color: #ffffff;
$secondary-color: #44a2f6;

//body & html bg color
$content_bg: #f3f4f5;
$grey_bg: #c2c0c6;
$section-header: #2c2d32;
$headings-color: $white;
$main-text-color: $white;
// $links-color: $light-blue;
// $links-color-hover: #ff0000;
$border-color: #d8d8db;
$font-color1: #393939;

// fonts
$sans: Arial, Helvetica, sans-serif;
$headings-font: 'Gobold', #{$sans};
$headings-font-weight: 700;
$main-font: 'Libre Baskerville', #{$sans};
$main-font-size: 1rem;
$main-font-weight: 400;

